bin
Bin
obj
sql
*.user
*.suo
_ReSharper*
dist
output
build
*.dbmdl
*.nupkg

*~

*.swp
TestResult.xml
*.testsettings
TestResults

*.dropbox
desktop.ini
*.publish.xml
*.refactorlog

apis
info
@info

app.config
web_appSettings.config
web_connectionStrings.config
web_smtp.config

*.mdf
*.ldf